header{
	.top-bar-section{
		margin-top: 12px;
		ul{
			li{
				margin: 0 15px;
			}	
		}	
	}
}

.greyBg > .row{
	margin-top: 20px;
	margin-bottom: 20px;
}

.miniBanner p{
	font-size: 24px;
}